html,
body,
h1,
h2,
h3,
h4,
h5,
h6,img,p {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 1rem;
}
.title-bold{
  font-weight: bold;
  font-size: 1.5rem;
}

.title{
   font-weight: bold;
}

.space{
  margin : .5rem 0;
}

.space-big{
  margin: 2rem 0;
}