.box {
  background-color: #eee;
  min-height: 100vh;
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 1rem 0;
}

@media (max-width: 426px) {
  .box {
    padding: 0;
  }
}

@media (max-width: 321px) {
  .box__email {
    display: none;
  }
}

.box__header {
  background-color: #0cf6a4;
  display: flex;
  white-space: nowrap;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

@media (max-width: 426px) {
  .box__header {
    white-space: wrap;
  }
}

.box__avatar {
  width: 15%;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
}

@media (max-width: 426px) {
  .box__avatar {
    width: 35%;
  }
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-top-left-radius: 0.25rem;
}

.box__present {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 321px) and (max-width: 426px) {
  .box__present {
    align-items: start;
  }
}

@media (max-width: 320px) {
  .box__present {
    padding: .5rem 1rem;
  }
}

.box__title h1 {
  font-size: 1.5rem !important;
}

@media (max-width: 426px) {
  .box__title h1 {
    font-size: 1.25rem !important;
  }
}

.box__title h2 {
  font-size: 1.25rem !important;
  font-weight: 300;
}

@media (max-width: 426px) {
  .box__title h2 {
    font-size: 1rem !important;
  }
}

.box__contact {
  font-size: 0.75rem;
  font-weight: 200;
  color: #777;
}

.box__body {
  display: flex;
  padding: 1rem 0;
}

@media (max-width: 426px) {
  .box__body {
    flex-wrap: wrap;
    padding: 1rem;
  }
}

.box__body a {
  color: #555;
}

.box__skills {
  width: 25%;
  white-space: nowrap;
}

@media (max-width: 426px) {
  .box__skills {
    width: 100%;
  }
}

.box__skills__skill {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.box__profile {
  padding: 0 3rem;
}

@media (max-width: 426px) {
  .box__profile {
    padding: 0;
    margin-top: 2rem;
  }
}

.box__profile p {
  width: 60%;
  text-align: justify;
}

@media (max-width: 426px) {
  .box__profile p {
    width: 100%;
  }
}

.box__profile ul {
  padding: 0;
}
